In [1]:
from keras.preprocessing.image import ImageDataGenerator
from keras.layers import Dense,Dropout,Activation,Conv2D,MaxPooling2D,BatchNormalization,Flatten
from keras.models import Sequential
from keras.optimizers import rmsprop_v2
from keras.callbacks import EarlyStopping,ReduceLROnPlateau,ModelCheckpoint
from keras.models import load_model


import cv2
from PIL import Image
import numpy as np
import pandas as pd
import os
from keras.utils.np_utils import to_categorical
import seaborn as sns

In [2]:
int2emotions = {0:'Angry',1:'Fear',2:'Happy',3:'Neutral',4:'Sad',5:'Surprise'}
emotions2int = {'Angry':0,'Fear':1,'Happy':2,'Neutral':3,'Sad':4,'Surprise':5}


dic = {'images':[], 'labels':[], 'purpose':[]}
    
    
    
for d in os.listdir('fer2013/'):
    print(d)
    for emotion in os.listdir(f'fer2013/{d}'):
        print(emotion)
        for i in os.listdir(f'fer2013/{d}/{emotion}'):
            img = cv2.imread(f'fer2013/{d}/{emotion}/{i}',0)
            img = img.reshape(48,48,1)
            
            dic['images'].append(img)
            dic['labels'].append(emotion)
            
            if d=='train':
                dic['purpose'].append('T')
            else:
                dic['purpose'].append('V')

train

Angry

Fear

Happy

Neutral

Sad

Surprise

validation

Angry

Fear

Happy

Neutral

Sad

Surprise

In [3]:
df = pd.DataFrame(dic)
df.head()

                                              images labels purpose
0  [[[72], [78], [81], [75], [59], [54], [63], [6...  Angry       T
1  [[[152], [149], [147], [157], [146], [133], [1...  Angry       T
2  [[[117], [116], [114], [99], [77], [54], [36],...  Angry       T
3  [[[159], [159], [145], [159], [165], [162], [1...  Angry       T
4  [[[254], [253], [255], [251], [235], [186], [1...  Angry       T

In [4]:
train_data = df[df['purpose']=='T']
val_data = df[df['purpose']=='V']

In [5]:
train_data.head()

                                              images labels purpose
0  [[[72], [78], [81], [75], [59], [54], [63], [6...  Angry       T
1  [[[152], [149], [147], [157], [146], [133], [1...  Angry       T
2  [[[117], [116], [114], [99], [77], [54], [36],...  Angry       T
3  [[[159], [159], [145], [159], [165], [162], [1...  Angry       T
4  [[[254], [253], [255], [251], [235], [186], [1...  Angry       T

In [6]:
val_data.head()

                                                  images labels purpose
28273  [[[169], [117], [102], [89], [88], [74], [77],...  Angry       V
28274  [[[137], [144], [65], [78], [91], [92], [96], ...  Angry       V
28275  [[[8], [14], [8], [35], [148], [223], [241], [...  Angry       V
28276  [[[83], [72], [63], [69], [79], [67], [87], [8...  Angry       V
28277  [[[75], [80], [80], [80], [82], [92], [64], [2...  Angry       V

In [7]:
train_data['labels'].value_counts()

Happy       7215
Neutral     4965
Sad         4830
Fear        4097
Angry       3995
Surprise    3171
Name: labels, dtype: int64

In [8]:
val_data['labels'].value_counts()

Happy       879
Neutral     626
Sad         594
Fear        528
Angry       491
Surprise    416
Name: labels, dtype: int64

In [9]:
happy_df = train_data[train_data['labels']=='Happy'].sample(n=3171)
neutral_df = train_data[train_data['labels']=='Neutral'].sample(n=3171)
sad_df = train_data[train_data['labels']=='Sad'].sample(n=3171)
fear_df = train_data[train_data['labels']=='Fear'].sample(n=3171)
angry_df = train_data[train_data['labels']=='Angry'].sample(n=3171)
surprise_df = train_data[train_data['labels']=='Surprise'].sample(n=3171)

train_data = pd.concat([happy_df,neutral_df,sad_df,fear_df,angry_df,surprise_df])



train_data = train_data.sample(frac=1)
train_data.reset_index(inplace=True)
train_data.drop('index',inplace=True,axis=1)

train_data.head()

                                              images    labels purpose
0  [[[148], [163], [173], [175], [138], [122], [1...   Neutral       T
1  [[[58], [43], [50], [62], [57], [49], [43], [3...     Angry       T
2  [[[22], [0], [5], [17], [0], [16], [119], [229...     Angry       T
3  [[[191], [176], [128], [137], [134], [145], [1...  Surprise       T
4  [[[193], [192], [194], [194], [205], [212], [2...       Sad       T

In [10]:
train_data['labels'].value_counts()

Sad         3171
Angry       3171
Happy       3171
Surprise    3171
Fear        3171
Neutral     3171
Name: labels, dtype: int64

In [12]:
batch_size= 32
classes = 6
rows,columns=48,48

In [13]:
train_labels = list(train_data['labels'].replace(emotions2int))
train_labels = to_categorical(train_labels)

val_labels = list(val_data['labels'].replace(emotions2int))
val_labels = to_categorical(val_labels)

In [14]:
train_data = list(train_data['images'])
train_data = np.array(train_data)

val_data = list(val_data['images'])
val_data = np.array(val_data)

In [15]:
train_data.shape

(19026, 48, 48, 1)

In [16]:
val_data.shape

(3534, 48, 48, 1)

In [18]:
model = Sequential()

# First Block
model.add(Conv2D(64,(3,3),activation='elu',input_shape=(rows,columns,1),kernel_initializer='he_normal',padding='same'))
model.add(BatchNormalization())
model.add(Conv2D(64,(3,3),activation='elu',input_shape=(rows,columns,1),kernel_initializer='he_normal',padding='same'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))

# Second Block
model.add(Conv2D(128,(3,3),activation='elu',kernel_initializer='he_normal',padding='same'))
model.add(BatchNormalization())
model.add(Conv2D(128,(3,3),activation='elu',kernel_initializer='he_normal',padding='same'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))

# Third Block
model.add(Conv2D(256,(3,3),activation='elu',kernel_initializer='he_normal',padding='same'))
model.add(BatchNormalization())
model.add(Conv2D(256,(3,3),activation='elu',kernel_initializer='he_normal',padding='same'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))

# Fourth Block
model.add(Conv2D(512,(3,3),activation='elu',kernel_initializer='he_normal',padding='same'))
model.add(BatchNormalization())
model.add(Conv2D(512,(3,3),activation='elu',kernel_initializer='he_normal',padding='same'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.2))

# Fifth Block
model.add(Flatten())
model.add(Dense(256,activation='elu',kernel_initializer='he_normal'))
model.add(BatchNormalization())
model.add(Dropout(0.5))

# Sixth Block
model.add(Dense(128,activation='elu',kernel_initializer='he_normal'))
model.add(BatchNormalization())
model.add(Dropout(0.5))

# Seventh Block
model.add(Dense(64,activation='elu',kernel_initializer='he_normal'))
model.add(BatchNormalization())
model.add(Dropout(0.5))

# Eighth Block
model.add(Dense(classes,activation='softmax',kernel_initializer='he_normal'))

print(model.summary())

Model: "sequential"

_________________________________________________________________

Layer (type)                 Output Shape              Param #

=================================================================

conv2d (Conv2D)              (None, 48, 48, 64)        640

_________________________________________________________________

batch_normalization (BatchNo (None, 48, 48, 64)        256

_________________________________________________________________

conv2d_1 (Conv2D)            (None, 48, 48, 64)        36928

_________________________________________________________________

batch_normalization_1 (Batch (None, 48, 48, 64)        256

_________________________________________________________________

max_pooling2d (MaxPooling2D) (None, 24, 24, 64)        0

_________________________________________________________________

dropout (Dropout)            (None, 24, 24, 64)        0

_________________________________________________________________

conv2d_2 (Conv2D)            (None, 24, 24, 128)       73856

_________________________________________________________________

batch_normalization_2 (Batch (None, 24, 24, 128)       512

_________________________________________________________________

conv2d_3 (Conv2D)            (None, 24, 24, 128)       147584

_________________________________________________________________

batch_normalization_3 (Batch (None, 24, 24, 128)       512

_________________________________________________________________

max_pooling2d_1 (MaxPooling2 (None, 12, 12, 128)       0

_________________________________________________________________

dropout_1 (Dropout)          (None, 12, 12, 128)       0

_________________________________________________________________

conv2d_4 (Conv2D)            (None, 12, 12, 256)       295168

_________________________________________________________________

batch_normalization_4 (Batch (None, 12, 12, 256)       1024

_________________________________________________________________

conv2d_5 (Conv2D)            (None, 12, 12, 256)       590080

_________________________________________________________________

batch_normalization_5 (Batch (None, 12, 12, 256)       1024

_________________________________________________________________

max_pooling2d_2 (MaxPooling2 (None, 6, 6, 256)         0

_________________________________________________________________

dropout_2 (Dropout)          (None, 6, 6, 256)         0

_________________________________________________________________

conv2d_6 (Conv2D)            (None, 6, 6, 512)         1180160

_________________________________________________________________

batch_normalization_6 (Batch (None, 6, 6, 512)         2048

_________________________________________________________________

conv2d_7 (Conv2D)            (None, 6, 6, 512)         2359808

_________________________________________________________________

batch_normalization_7 (Batch (None, 6, 6, 512)         2048

_________________________________________________________________

max_pooling2d_3 (MaxPooling2 (None, 3, 3, 512)         0

_________________________________________________________________

dropout_3 (Dropout)          (None, 3, 3, 512)         0

_________________________________________________________________

flatten (Flatten)            (None, 4608)              0

_________________________________________________________________

dense (Dense)                (None, 256)               1179904

_________________________________________________________________

batch_normalization_8 (Batch (None, 256)               1024

_________________________________________________________________

dropout_4 (Dropout)          (None, 256)               0

_________________________________________________________________

dense_1 (Dense)              (None, 128)               32896

_________________________________________________________________

batch_normalization_9 (Batch (None, 128)               512

_________________________________________________________________

dropout_5 (Dropout)          (None, 128)               0

_________________________________________________________________

dense_2 (Dense)              (None, 64)                8256

_________________________________________________________________

batch_normalization_10 (Batc (None, 64)                256

_________________________________________________________________

dropout_6 (Dropout)          (None, 64)                0

_________________________________________________________________

dense_3 (Dense)              (None, 6)                 390

=================================================================

Total params: 5,915,142

Trainable params: 5,910,406

Non-trainable params: 4,736

_________________________________________________________________

None

In [20]:
checkpoint = ModelCheckpoint('model\\6_class_emotion_detector_V2.h5',
                             save_best_only=True,
                             mode='min',
                             monitor='val_loss',
                             verbose=1)





earlystopping = EarlyStopping(patience=10,
                             verbose=1,
                             min_delta=0,
                             monitor='val_loss',
                             restore_best_weights=True)





callbacks = [checkpoint, earlystopping]

model.compile(metrics=['accuracy'],
             optimizer='rmsprop',
             loss='categorical_crossentropy')



train_samples = 28273
validation_samples = 3534
batch_size = 64
epochs=30

In [21]:
history = model.fit(train_data,
                    train_labels,
                    epochs=epochs,
                    steps_per_epoch=train_samples//batch_size,
                    validation_data=(val_data,val_labels),
                    validation_steps=validation_samples//batch_size,
                    callbacks=callbacks)

Epoch 1/30

441/441 [==============================] - 67s 105ms/step - loss: 2.4345 - accuracy: 0.1823 - val_loss: 1.8593 - val_accuracy: 0.2281ss: 2.441



Epoch 00001: val_loss improved from inf to 1.85933, saving model to model\6_class_emotion_detector_V2.h5

Epoch 2/30

441/441 [==============================] - 44s 100ms/step - loss: 1.7370 - accuracy: 0.2698 - val_loss: 1.5590 - val_accuracy: 0.3831oss: 1



Epoch 00002: val_loss improved from 1.85933 to 1.55897, saving model to model\6_class_emotion_detector_V2.h5

Epoch 3/30

441/441 [==============================] - 44s 100ms/step - loss: 1.4838 - accuracy: 0.3964 - val_loss: 1.5069 - val_accuracy: 0.4270



Epoch 00003: val_loss improved from 1.55897 to 1.50687, saving model to model\6_class_emotion_detector_V2.h5

Epoch 4/30

441/441 [==============================] - 45s 102ms/step - loss: 1.3203 - accuracy: 0.4815 - val_loss: 1.4112 - val_accuracy: 0.4570



Epoch 00004: val_loss improved from 1.50687 to 1.41115, saving model to model\6_class_emotion_detector_V2.h5

Epoch 5/30

441/441 [==============================] - 45s 102ms/step - loss: 1.2400 - accuracy: 0.5207 - val_loss: 1.3587 - val_accuracy: 0.4994



Epoch 00005: val_loss improved from 1.41115 to 1.35871, saving model to model\6_class_emotion_detector_V2.h5

Epoch 6/30

441/441 [==============================] - 44s 100ms/step - loss: 1.1692 - accuracy: 0.5500 - val_loss: 1.3683 - val_accuracy: 0.5207



Epoch 00006: val_loss did not improve from 1.35871

Epoch 7/30

441/441 [==============================] - 44s 100ms/step - loss: 1.1047 - accuracy: 0.5777 - val_loss: 1.4137 - val_accuracy: 0.5144



Epoch 00007: val_loss did not improve from 1.35871

Epoch 8/30

441/441 [==============================] - 47s 106ms/step - loss: 1.0264 - accuracy: 0.6175 - val_loss: 1.4424 - val_accuracy: 0.5198



Epoch 00008: val_loss did not improve from 1.35871

Epoch 9/30

441/441 [==============================] - 45s 103ms/step - loss: 0.9633 - accuracy: 0.6439 - val_loss: 1.4911 - val_accuracy: 0.5354



Epoch 00009: val_loss did not improve from 1.35871

Epoch 10/30

441/441 [==============================] - 45s 102ms/step - loss: 0.8602 - accuracy: 0.6902 - val_loss: 1.5004 - val_accuracy: 0.5306



Epoch 00010: val_loss did not improve from 1.35871

Epoch 11/30

441/441 [==============================] - 45s 103ms/step - loss: 0.7719 - accuracy: 0.7283 - val_loss: 1.5959 - val_accuracy: 0.5323



Epoch 00011: val_loss did not improve from 1.35871

Epoch 12/30

441/441 [==============================] - 46s 104ms/step - loss: 0.7067 - accuracy: 0.7582 - val_loss: 1.7697 - val_accuracy: 0.5405



Epoch 00012: val_loss did not improve from 1.35871

Epoch 13/30

441/441 [==============================] - 45s 102ms/step - loss: 0.6299 - accuracy: 0.7863 - val_loss: 1.8730 - val_accuracy: 0.5396



Epoch 00013: val_loss did not improve from 1.35871

Epoch 14/30

441/441 [==============================] - 45s 102ms/step - loss: 0.5385 - accuracy: 0.8201 - val_loss: 2.0165 - val_accuracy: 0.5311



Epoch 00014: val_loss did not improve from 1.35871

Epoch 15/30

441/441 [==============================] - 44s 100ms/step - loss: 0.4990 - accuracy: 0.8362 - val_loss: 2.1729 - val_accuracy: 0.5351



Epoch 00015: val_loss did not improve from 1.35871

Epoch 16/30

441/441 [==============================] - 44s 100ms/step - loss: 0.4147 - accuracy: 0.8622 - val_loss: 2.2819 - val_accuracy: 0.5306



Epoch 00016: val_loss did not improve from 1.35871

Epoch 17/30

441/441 [==============================] - 45s 102ms/step - loss: 0.3770 - accuracy: 0.8758 - val_loss: 2.2751 - val_accuracy: 0.5232



Epoch 00017: val_loss did not improve from 1.35871

Epoch 18/30

441/441 [==============================] - 46s 104ms/step - loss: 0.3327 - accuracy: 0.8927 - val_loss: 2.3443 - val_accuracy: 0.5368



Epoch 00018: val_loss did not improve from 1.35871

Epoch 19/30

441/441 [==============================] - 44s 100ms/step - loss: 0.2970 - accuracy: 0.9046 - val_loss: 2.4195 - val_accuracy: 0.5308



Epoch 00019: val_loss did not improve from 1.35871

Epoch 20/30

441/441 [==============================] - 45s 102ms/step - loss: 0.2959 - accuracy: 0.9085 - val_loss: 2.5389 - val_accuracy: 0.5175



Epoch 00020: val_loss did not improve from 1.35871

Epoch 21/30

441/441 [==============================] - 45s 103ms/step - loss: 0.2503 - accuracy: 0.9216 - val_loss: 2.4581 - val_accuracy: 0.5328



Epoch 00021: val_loss did not improve from 1.35871

Epoch 22/30

441/441 [==============================] - 44s 100ms/step - loss: 0.2248 - accuracy: 0.9312 - val_loss: 2.7538 - val_accuracy: 0.5467



Epoch 00022: val_loss did not improve from 1.35871

Epoch 23/30

441/441 [==============================] - 45s 102ms/step - loss: 0.2407 - accuracy: 0.9282 - val_loss: 2.7193 - val_accuracy: 0.5246



Epoch 00023: val_loss did not improve from 1.35871

Epoch 24/30

441/441 [==============================] - 44s 100ms/step - loss: 0.2242 - accuracy: 0.9328 - val_loss: 2.6998 - val_accuracy: 0.5399



Epoch 00024: val_loss did not improve from 1.35871

Epoch 25/30

441/441 [==============================] - 45s 102ms/step - loss: 0.1839 - accuracy: 0.9452 - val_loss: 2.7879 - val_accuracy: 0.5348



Epoch 00025: val_loss did not improve from 1.35871

Epoch 26/30

441/441 [==============================] - 45s 102ms/step - loss: 0.1967 - accuracy: 0.9426 - val_loss: 2.7746 - val_accuracy: 0.5351



Epoch 00026: val_loss did not improve from 1.35871

Epoch 27/30

441/441 [==============================] - 45s 103ms/step - loss: 0.1774 - accuracy: 0.9462 - val_loss: 2.7664 - val_accuracy: 0.5402



Epoch 00027: val_loss did not improve from 1.35871

Epoch 28/30

441/441 [==============================] - 45s 102ms/step - loss: 0.1648 - accuracy: 0.9511 - val_loss: 2.7768 - val_accuracy: 0.5306



Epoch 00028: val_loss did not improve from 1.35871

Epoch 29/30

441/441 [==============================] - 44s 100ms/step - loss: 0.1644 - accuracy: 0.9489 - val_loss: 2.9112 - val_accuracy: 0.5345



Epoch 00029: val_loss did not improve from 1.35871

Epoch 30/30

201/441 [============>.................] - ETA: 23s - loss: 0.1486 - accuracy: 0.9559- ETA: 25s - loss: 0WARNING:tensorflow:Your input ran out of data; interrupting training. Make sure that your dataset or generator can generate at least `steps_per_epoch * epochs` batches (in this case, 13230 batches). You may need to use the repeat() function when building your dataset.

441/441 [==============================] - 22s 51ms/step - loss: 0.1564 - accuracy: 0.9548 - val_loss: 2.6819 - val_accuracy: 0.5359



Epoch 00030: val_loss did not improve from 1.35871

In [23]:
model = load_model('model\\6_class_emotion_detector_V2.h5')
cap = cv2.VideoCapture(0)

classifier = cv2.CascadeClassifier('Haarcascades\\haarcascade_frontalface_default.xml')

def detect_face(frame):
    faces=classifier.detectMultiScale(frame,1.3,4)
    if faces==():
        return frame
    
    for x,y,w,h in faces:
        cv2.rectangle(frame,(x,y),(x+w,y+h),(172,42,251),2)
        face = frame[y:y+h,x:x+w]
        face = cv2.cvtColor(face,cv2.COLOR_BGR2GRAY)
        face = cv2.resize(face,(48,48))
        face = face.reshape(1,48,48,1)
        cv2.putText(frame,text=int2emotions[np.argmax(model.predict(face))],
                    org=(x,y-15),fontFace=cv2.FONT_HERSHEY_SIMPLEX,fontScale=1,color=(106,40,243),thickness=2)
    return frame

while 1:
    ret,frame= cap.read()
    if ret==True:
        cv2.imshow('emotion_detector',detect_face(frame))
        if cv2.waitKey(1)==27:
            break
            
            
cap.release()
cv2.destroyAllWindows()

# karan jarawata

<ipython-input-23-3171db864daa>:7: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

  if faces==():